body{
    background-image: url("https://w0.peakpx.com/wallpaper/506/235/HD-wallpaper-white-hexagon-geometric-shapes-white-aesthetic.jpg");
    background-size:auto;
    
}

.A2{
    border-radius:20px;
    background-color: gold;
    border-color: gold;
}
#A1{
    text-align: center;
    color:#bf42f5
}
#order{
    border-radius: 20px;
}